//--------------------------------------------------------------
// Main Navigation — Desktop.
//--------------------------------------------------------------

.main-navigation {
    display: none;

    @include media($tablet-landscape) {
		display: block;
		width: 100%;
    } // .main-navigation

    ul {
        display: none;
        @include media($phone) {
            display: block;
            display: flex;
            justify-content: flex-end;
        } // ul

        li {
            margin: 0 rem(30) 0 0;
            padding: 13px;
        } // li
    } // ul
    &.toggled ul {
        display: block;
    } // &.toggled ul
} // .main-navigation

//-----------------------------------------
// Dropdown.
//-----------------------------------------

.dropdown {
    position: relative;

    ul {
        @include position(absolute, rem(24) null null -999em);
        box-shadow: 0 rem(3) rem(3) rgba($color-black, 0.2);
        float: left;
        z-index: 99999; 

        ul {
            left: -999em;
            top: 0;
        } // ul

        li {
            width: 100%;

            &:hover>ul,
            &.focus>ul {
                left: 100%;
            } // &:hover > ul, &.focus > ul
        } // li

        a {
            @include size(100% auto);
            min-width: rem(200);
        } // a

        &:hover>a,
        .focus>a {}
        // &:hover > a, .focus > a
        a:hover,
        a.focus {}
        // a:hover, a.focus
        // sass-lint:enable no-qualifying-elements
    } // ul
    // Display sub-menu on hover
    li:hover>ul,
    .focus>ul {
        left: auto;
    } // li:hover > ul, .focus > ul
    // Menu items
    li {
        float: left;
        position: relative;
        &:hover>a,
        &.focus>a {}
        // &:hover > a, &.focus > a
    } // li
} // &.dropdown

@include media($tablet-portrait) {
    .menu-top-menu-container {
        float: left;
        margin-left: 3rem;
    
        .menu a {
            font-size: 20px;
            letter-spacing: .06rem;
        } // menu .a
    } // .menu-top-menu-container
} // tablet-landscape
