//--------------------------------------------------------------
// Mobile Navigation.
//
// 1. Mobile Navigation Styles.
// 2. Parent Indicator.
// 3. Menu Item Has Children.
// 4. Hamburger Button.
// 5. Off Canvas Drawer.
//
//--------------------------------------------------------------

//-----------------------------------------
// 1. Mobile Navigation Styles.
//-----------------------------------------

.mobile-menu {
	@include list-reset;

	ul { @include list-reset; }

	li {
		list-style: none;
		padding: rem(12);
		position: relative;
		
	} // li

	a {
		color: $color-white;
		font-size: rem(14);
		text-decoration: none;
		text-transform: uppercase;

		&:focus { outline: rem(2) solid $color-white; } 
	} // a

	// Submenu dropdowns.
	.sub-menu {
		display: none;

		// If submenu is open.
		&.is-visible {
			display: block;
			opacity: 1;
			visibility: visible;
		} // &.is-visible
	} // .sub-menu
} // .mobile-menu

//-----------------------------------------
// 2. Create a down arrow on parent items.
//-----------------------------------------

.parent-indicator {
	@include position(absolute, rem(10) rem(10) null null);
	@include size(rem(35));

	background-color: transparent;
	display: inline-block;
	padding: rem(5);
	z-index: 9999;

	&:focus { outline: 2px solid $color-white; }
} // .parent-indicator

//-----------------------------------------
// 3. Menu Item Has Children.
//-----------------------------------------
.mobile-menu {
	// Parent menu items.
	.menu-item-has-children {
		transition: max-height 0.5s;

		// Force menu link to accomodate down button.
		a {
			display: inline-block;
			max-width: calc(100% - 40px);
		} // a

		&.is-visible {
			max-height: rem(500);

			// When visible, flip the down arrow.
			.down-arrow { transform: rotateX(180deg); }
		} // .is-visible

		.menu-item-has-children {

			&:last-of-type {

				.menu-item-has-children.is-visible { margin-bottom: 0; }
			} // &:last-of-type

			.down-arrow { transform: rotateX(0); }

			&.is-visible {

				&:last-of-type { margin-bottom: 0; }

				// When visible, flip the down arrow.
				.down-arrow { transform: rotateX(180deg); }
			} // &.is-visible

			.menu-item-has-children {

				.down-arrow { transform: rotateX(0); }

				&.is-visible {
					// When visible, flip the down arrow.
					.down-arrow { transform: rotateX(180deg); }
				} // &.is-visible
			} // .menu-item-has-children
		} // .menu-item-has-children
	} // .menu-item-has-children
} // .mobile-menu

//-----------------------------------------
// 4. Hamburger Button.
//-----------------------------------------

.off-canvas-open { top: 3px !important; }

.hamburger {
	background-color: transparent;
	outline: none;

	&,
	&::before,
	&::after {
		@include size(rem(35) rem(5));

		background: $color-white;
		border-radius: $border-radius-thin;
		content: '';
		cursor: pointer;
		display: block;
		position: absolute;
		transition: $transition-hamburger;
	} // & + &::before + &::after

	&::before { transform: translateY(rem(-10)); }

	&::after { transform: translateY(rem(10)); }

	.is-visible & {
		background-color: transparent;

		&::before { transform: rotate(45deg); }

		&::after { transform: rotate(-45deg); }
	} // .is-visible
} // .hamburger

//-----------------------------------------
// 5. Off Canvas Drawer.
//-----------------------------------------

.off-canvas {

	// The container.
	&-container {
		@include position(fixed, 0 auto 0 0);
		@include size(rem(220) 100%);

		-webkit-overflow-scrolling: touch;
		background-color: $color-cod-gray;
		overflow-y: auto;
		transform: translateX(rem(-220));
		transition: $transition-transform;
		z-index: 9998;

		&.is-visible { transform: translateX(0); }

		// Deal with the admin bar.
		.admin-bar & {
			padding-top: rem(46);

			@include media($wp-admin-bar) {
				padding-top: rem(32);
			} // wp-admin-bar
		} // .admin-bar &
	} // .off-canvas-container

	// The hamburger nav.
	&-open {
		@include position(absolute, rem(24) rem(24) null null);
		@include size(rem(48));

		background-color: transparent;
		display: block;
		padding: 0;

		@include media($tablet-landscape) {
			display: none;
		} // tablet-landscape

		// Deal with the admin bar.
		.admin-bar & {
			@include position(absolute, rem(56) null null null);
		} // .admin-bar &

		&:focus,
		&:hover {
			background-color: transparent;
			outline: none;
		} // &:focus + &:hover
	} // .off-canvas-button

	// The close "X" button.
	&-close {
		@include position(absolute, rem(10) rem(10) null null);

		background-color: transparent;
		display: none;
		padding: rem(12) rem(5);
		z-index: 9999;

		&:focus,
		&:hover {
			background: transparent;
			outline: none;
		} // &:focus + &:hover

		.admin-bar & {
			top: rem(60);

			@include media($wp-admin-bar) {
				top: rem(46);
			} // wp-admin-bar
		} // .admin-bar &

		.is-visible & { display: inline-block; }
	} // .off-canvas-close

	// The background screen.
	&-screen {
		@include position(fixed, 0);

		background: $color-black;
		opacity: 0;
		transition: $transition-opacity;
		visibility: hidden;
		z-index: 9996;

		&.is-visible {
			opacity: 0.4;
			visibility: visible;
		} // &.is-visible 
	} // .off-canvas-screen

	// Content container.
	&-content {
		display: none;

		.is-visible & { display: block; }
	} // .off-canvas-content
} // .off-canvas
