//--------------------------------------------------------------
// Navigation on Comment, Post and Posts.
//--------------------------------------------------------------

.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 rem(24) 0;
        overflow: hidden;
        text-decoration: none;
    } // .site-main &

    .nav-previous {
        @include size(50% auto);
        float: left;

        a {
            text-decoration: none;
            
			@include media($desktop){
				font-size: 29px;
				font-weight: 800;
			} // desktop
        } // a
    } // &.nav-previous

    .nav-next {
        @include size(50% auto);
        float: right;
		text-align: right;

        a {
            text-decoration: none;

			@include media($desktop){
				font-size: 2rem;
				font-weight: 800;
			} //desktop
        } // a
    } // &.nav-next
} // .comment-navigation, .posts-navigation, .post-navigation
