//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------

button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.primary-button {
    appearance: none;
    background-color: $color-button-background;
    border: none;
    border-radius: 0;
    border-width: 0;
    color: $color-button-text;
    line-height: 1.5;
    margin: 0;
    padding: 1rem 3rem; // IE 11 helper.
    font-size: 18px;
    font-family: $font-accent;
    transition: $transition-all;

    .ie & {
        height: rem(35);
    } // .ie &

    &:hover {
        background-color: $color-button-background-hover;
        color: $color-button-text;
        transition: $transition-all;
    } // &:hover

    &:active,
    &:focus {
        background-color: $color-button-text;
    } // &:active, &:focus
} // button, input[type="button"], input[type="reset"], input[type="submit"]

.button, a.button {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase; 
    font-size: 2rem;
    font-family: $font-accent;
    border-radius: $border-radius-large;
    padding: 1rem 4rem;
    display: inline-block;

    &:hover {
        background: $color-bright-blue;
        color: $color-button-text;
        transition: $transition-all;
    } // &:hover 

    &-intro {
        background-color: $color-white;
        color: $color-bright-blue;
        margin: 1rem;
        font-size: 1.4rem;
        padding: 1rem 4rem;
        box-shadow: 0px 0px 24px rgba(255, 255, 255, 40);
    
        &:hover {
            background-color: $color-blue-grey;
            color: $color-bright-blue;
        } // hover

        @include media($tablet-portrait) {
            padding: 1.6rem 6rem;
        } // tablet-portrait
    } // &-intro 

    &-secondary {
        color: $color-button-text;
        background-color: $color-deep-blue;
        padding: 1rem 6rem;
        font-size: 1rem;
        transition: $transition-all;
    
        &:hover {
            background-color: $color-bright-blue;
            color: $color-button-text;
        } // :hover
    } // &-secondary

    &-trinary {
        font-size: 1.4rem;
        border: 3px solid $color-bright-blue !important;
        color: $color-bright-blue;
        width: 100%;

        &:hover {
            background: $color-bright-blue;
            color: $color-button-text;
            transition: $transition-all;
        } // &:hover 

        @include media($tablet-portrait) {
            width: auto;
            padding: 1rem 4rem;
        } // tablet-portrait
    } // &-trinary

    @include media($phone) {
        font-size: 1rem;
        padding: 1rem 4rem; 
    } // phone

    @include media($tablet-portrait) {
        padding: 1.4rem 6rem;
    } // tablet-portrait

    @include media($tablet-landscape) {
        padding: 1rem 3rem; 
        font-size: 1rem;
    } // tablet-landscape
} // .button

.button.small, button.small,
input[type='button'].small,
input[type='reset'].small,
input[type='submit'].small, {
    padding: .2rem 2rem;
} // .button + .small

.button.round, button.round,
input[type='button'].round,
input[type='reset'].round,
input[type='submit'].round, {
    border-radius: 100px;
} // .buuton + .round 