//--------------------------------------------------------------
// Card
//--------------------------------------------------------------

.card {
	margin-bottom: $gutter * 2;
	text-align: center;

	@include media($tablet-portrait) {
		text-align: left;
	} // tablet-portrait

	// Card images.
	img {
		width: 100%;
	} // img
} // .card
