//--------------------------------------------------------------
// Comments
//--------------------------------------------------------------

//-----------------------------------------
// Comment area scaffolding
//-----------------------------------------
.comments-area {
	border-top: 1px solid $color-silver;
	margin: rem(100) 0 rem(151);

	.comment-reply-title {
		margin-top: rem(47);
	} // .comment-reply-title

	.comments-title {
		font-size: rem(24);
		margin-top: rem(126);
	} // .comments-title

	.comment-notes {
		font-size: em(16);
		margin-bottom: rem(54);
	} // .comment-notes

	@include media($desktop) {
		margin-left: auto;
		margin-right: auto;
	} // desktop
} // .comments-area


//-----------------------------------------
// Labels
//-----------------------------------------
.comment-form-comment,
.comment-form-author,
.comment-form-email,
.comment-form-url {

	label {
		float: left;
		font-size: rem(16);
		text-transform: uppercase;
		width: 100%;
	} // label
} // .comment-form-comment, .comment-form-author, .comment-form-email, .comment-form-url


//-----------------------------------------
// The comment form.
//-----------------------------------------
.comment-form {
	@include clearfix;
	width: 100%;

	input:not(.submit) {
		clear: both;
		transition: $transition-border;
		width: 100%;

		&:focus,
		&:active { border: 1px solid $color-mineshaft; }

		@include media($phone) {
			max-width: rem(250);
		} // phone
	} // input:not(.submit)

	textarea {
		max-width: rem(870);
		transition: $transition-border;

		&:focus,
		&:active { border: 1px solid $color-mineshaft; }
	} // textara

	.form-submit { margin: 0; }

	input[type='submit'] { width: rem(196); }
} // .comment-form

//-----------------------------------------
// Comments
//-----------------------------------------

.comment-list {
	@include list-reset;
	margin: 0;

	// Even comments get nice gray background.
	.even:not(.bypostauthor) > .comment-body {
		background-color: $color-gallery;
	} // .even > .comment-body

	// Each comment body.
	.comment-body {
		padding: rem(36);
	} // .comment-body

	// Comment content.
	.comment-content {
		margin: rem(31) 0 rem(28);
		max-width: rem(936);
	} // .comment-content

	// Comment meta.
	.comment-meta {
		@include clearfix;
		margin: 0 0 rem(14) 0;
	} // .comment-meta

	// The comment author name.
	.comment-author {
		line-height: 1;
	} // .comment-author

	// The date/time.
	.comment-metadata {
		line-height: 1;
		margin-top: rem(5);

		a {
			color: $color-tundora;
			text-decoration: none;
		} // a

		time { font-size: rem(12); }
	} // .comment-metadata

	// Comments avatar.
	.avatar {
		border-radius: 50%;
		float: left;
		margin: rem(-6) rem(26) 0 0;

		@include media($phone) {
			margin-top: rem(-12);
		} // phone
	} // .avatar

	// By post author.
	.bypostauthor {
		background-color: $color-light-yellow;
		display: block;
	} // .bypostauthor

	// The reply link/button thingy.
	.comment-reply-link { font-weight: 700; }

	// If someone replies with code...
	pre,
	code {
		margin: 0;
		padding-top: rem(5);
		width: 100%;
	} // pre, code
} // .comment-list

//-----------------------------------------
// Nested children scaffolding.
//-----------------------------------------

.comment-list {

	// Comment children.
	.children {
		list-style: none;
		margin: rem(40) 0;
		padding-left: rem(20);

		@include media($phone) {
			padding-left: rem(35);
		} // phone

		@include media($tablet-portrait) {
			padding-left: rem(60);
		} // tablet-portrait

		.depth-4,
		.depth-5,
		.depth-6,
		.depth-7,
		.depth-8,
		.depth-9,
		.depth-10 {

			// Increase line height on mobile for better readability.
			.comment-author {
				line-height: 1.25;

				@include media($phone) {
					line-height: 1;
				} // phone
			} // .comment-author
		} // .depth-x
	} // .children
} // .comment-list


//-----------------------------------------
// Inline reply
//-----------------------------------------
.comment-list {

	.comment-respond {
		background-color: $color-white;
		padding: rem(24) 0;

		@include media($phone) {
			padding-left: rem(36);
			padding-right: rem(36);
		} // phone

		.comment-reply-title {

			// The "cancel reply".
			a {
				display: inline-block;
				text-transform: lowercase;

				&::before {
					content: '(';
				}

				&::after {
					content: ')';
				}
			} // a
		} // .comment-reply-title

		.form-submit {
			margin: 0;

			input[type='submit'] { margin-top: rem(5); }
		} // .form-submit
	} // .comment-respond
} // .comment-list
