//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------

.site-info {
    @include span-columns(12);
    background: $color-tundora;
    text-align: center;
    padding: 2rem;
    color: $color-white;

    .copyright-text {
        max-width: 48rem;
        display: inline-block;
    } // .copyright-text

    p {
        margin: 0;
        font-family: $font-accent;
        font-weight: 100;
        font-size: 1.2rem;
    } // p
} // .site-info
