//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

.admin-bar {
    .site-header {
        top: 2.8rem;

        @include media($tablet-portrait) {
            top: 2rem;
        } // tablet-portrait

        @include media($tablet-landscape) {
            top: 2rem;
        } // tablet-landscape

        @include media($desktop) {
            top: 1.8rem;
        } // desktop
    } // .site-header
} // .admin-bar

.site-header {
	position: fixed;
	top: 0;
	background: $color-transparent-gray;
	width: 100%;
    height: 4rem;
    z-index: 998;
    display: flex;
    align-items: center;

    .wrap {  margin: .2rem 0 0 .8rem; }
    
	@include media($tablet-portrait) {
        height: 70px;
        
		.wrap {
			min-width: 90%;
			display: flex;
            align-items: center;
            padding: 0;
		} // & .wrap
	} // tablet-portrait
} // .site-header

.mobile-header {
	background-color: $color-transparent-gray;
	position: fixed;
    top: 0;
	height: 100px;
} // .mobile-header

//--------------------------------------------------------------
// Site logo.
.site-branding {
    @include span-columns(12);

    @include media($tablet-portrait) {
        @include span-columns(11);
    } // tablet-portrait

    @include media($tablet-landscape) {
        @include span-columns(5);
    } // tablet-landscape

    img {

        @include media(min-width $tablet-portrait max-width $tablet-landscape) {
            float: left;
			max-width: 50%;
			height: auto;
        } // min-width $tablet-portrait max-width $tablet-landscape
    } // img
} // .site-branding

//-----------------------------------------
// Site Title.
//-----------------------------------------

.site-title {
    font-size: rem(48);

    @include media(min-width $tablet-portrait max-width $tablet-landscape) {
        float: left;
        margin: 0;
        padding: 0 rem(12);
		max-width: 50%;
		height: auto;
    } // min-width $tablet-portrait max-width $tablet-landscape
} // .site-title

//-----------------------------------------
// Site Description.
//-----------------------------------------

.site-description {
    font-size: rem(24);
    margin: 0 0 rem(24) 0;

    @include media(min-width $tablet-portrait max-width $tablet-landscape) {
        clear: both;
    } // min-width $tablet-portrait max-width $tablet-landscape
} // .site-description

//-----------------------------------------
// Header action container — Form Dropdown.
//-----------------------------------------

.site-header-action {
    @include span-columns(12);

    @include media($tablet-portrait) {
        @include span-columns(5);
    } // tablet-portrait

    @include media($tablet-landscape) {
        @include span-columns(4);
        float: right;
        margin-right: 0;
    } // tablet-landscape

    @include media($desktop) {
        @include span-columns(3);
        float: right;
        margin-right: 0;
    } // desktop

    @include media($desktop-large) {
        @include span-columns(2);
        float: right;
        margin-right: 0;
    } // desktop-large
} // .site-header-action

//-----------------------------------------
// Site header action cta buttons.
//-----------------------------------------

.site-header-action {
    .button-link,
    .cta-button {
        color: $color-white;
        display: block;
        text-align: center;
        text-decoration: none;
        width: 100%;
    } // .button-link, .cta-button
} // .site-header-action

//-----------------------------------------
// Site header Action Searchform.
//-----------------------------------------

.site-header-action {
    .search-form {
        opacity: 0;
        transition: $transition-opacity;
        visibility: hidden; // If the body class is there, show the form.
        .search-form-visible & {
            display: block;
            opacity: 1;
            transition: $transition-opacity;
            visibility: visible;
        } // .search-form-visible &
    } // .search-form
} // .site-header-action

//-----------------------------------------
// Main Navigation Container.
//-----------------------------------------

.main-navigation {
	@include span-columns(12);
} // .main-navigation

.admin-bar .main-navigation {
  //  top: 32px;
} // .admin-bar .main-navigation

.archive-name {
    font-size: 3rem;
    color: $color-dark-blue;
    padding: 6rem 0 2rem;

    @include media($tablet-portrait) {
        padding: 8rem 0 3rem 0;
    } // @include media($tablet-portrait)

    &>.wrap {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    } // &>.wrap

    h1 {
        &:after {
            display: block;
            content: '';
            height: 10px;
            width: 100px;
            background-color: $color-silver-chalice;
            margin-left: 10px;
        } // &:after
    } // h1

    .header-title {
        color: $color-white;
        text-align: center;
        margin-bottom: 0;
        font-family: $font-accent;
        font-size: 3rem;

        @include media($tablet-portrait) {
            font-size: 6rem;
        } // tablet-portrait

        &:after {
            display: none;
        } // &:after
    } // .header-title

    .header-intro {
        text-align: center;
        color: $color-white;
        font-size: 1.2rem;
    } // .header-intro
} // .archive-name

.single .archive-name .header-title {
    font-size: 0.70em;

    @include media($desktop) {
        font-size: 3rem;
    } // desktop
} // .single .archive-name .header-title