//--------------------------------------------------------------
// Tables
//--------------------------------------------------------------

table {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	width: 100%;

	// thead
	thead {
		display: none;

		@include media($phone) {
			display: table-row-group;
		} // phone
	} // thead

	// th, td
	th,
	td {
		padding: rem(10);
		text-align: center;

		@include media($phone) {
			display: table-cell;
		} // phone
	} // th, td

	// th
	th {
		font-size: rem(14);
		letter-spacing: rem(1);
		text-transform: uppercase;

		@include media($phone) {
			display: table-cell;
		} // phone
	} // th

	// tr
	tr {
		display: block;
		margin-bottom: rem(10);

		@include media($phone) {
			display: table-row;
			margin-bottom: 0;
		} // phone
	} // tr

	// td
	td {
		border: 1px solid $color-silver;
		border-bottom: 0;
		display: block;
		font-size: rem(13);
		text-align: center;

		@include media($phone) {
			border-bottom: 0;
		} // phone

		// last-child
		&:last-child {
			border-bottom: 1px solid $color-silver;
		} // &:last-child

		// before
		&::before {
			content: '';
			float: left;
			font-weight: bold;
			text-transform: uppercase;
		} // &::before
	} // td

	@include media($phone) {
		border: 1px solid $color-silver;
	} // phone
} // table
