//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------
//-----------------------------------------
// Basic structure
//-----------------------------------------

.site-header,
.site-footer,
.primary,
.secondary {

} // .site-header + .site-footer + .primary + .secondary

.site-content {
    @include span-columns(12);
    background: $color-white;
} // .site-content

.content-area {
    @include span-columns(12);
    background: $color-white;
} // .content-area

// .site-header, .site-footer, .primary, .secondary
.wrap {
    @include outer-container();
    padding: .6rem;
    margin: auto;
} // .wrap

// For sections
section {
    .wrap {
        overflow: auto;
        max-width: 48rem;
        padding: 4rem 2rem;

        &-wide {
            max-width: 56rem !important;
        } // .wrap-wide
    
        &-extra-wide {
            max-width: 68rem !important;
        } // .wrap-extra-wide
    } // .wrap 
} // section

//-----------------------------------------
// Create Content/Sidebary layout
//-----------------------------------------
.has-sidebar {
    .primary {
        margin-left: 0;

        @include media($tablet-landscape) {
            @include span-columns(8);
        } // tablet-landscape
    } // .primary
    
    .secondary {
        @include media($tablet-landscape) {
            @include span-columns(4);
        } // tablet-landscape
    } // .secondary
} // .has-sidebar
/// This is the outermost element for a module or block.
///
/// @name .grid-container
/// @example html - Usage
/// <div class="grid-container">
///   <div class="grid-x">
///     <div class="cell ...">I am a cell!</div>
///   </div>
/// </div>
///
.grid-container { @include row; }

/// This is the inner container for a module or block, and generally establishes the inner content width.
///
/// @name .grid-x
/// @example html - Usage
/// <div class="grid-container">
///   <div class="grid-x">
///     <div class="cell ...">I am a cellu!</div>
///   </div>
/// </div>;
///
.grid-x { @include outer-container($max-width); } // .grid-x
/// Create a generic, 100% width cell.
///
/// @name .cell
/// @example html - Usage
/// <div class="grid-container">
///   <div class="grid-x">
///     <div class="cell">100% width no matter what viewport</div>
///   </div>
/// </div>
///
.cell { @include fill-parent; } // .cell
