//--------------------------------------------------------------
// 3 Column Icons
//--------------------------------------------------------------

.our-services {
    width: 100%;

    h3 {
        color: $color-dark-bright-blue;
        font-family: $font-accent;
        text-transform: uppercase;
        font-weight: 300;
    }

    .wrap {
        padding-bottom: 74px;

        .service-title {
            font-size: 2rem;
            margin-bottom: 0;
        } // .service-title

        .service-intro {
            font-size: 1.2rem;
            text-align: center;
        } // .service-intro

        .service {
            @include span-columns(12);
            padding: 20px;

            img {
                width: 100px;
                height: auto;
                display: block;
                padding-bottom: 20px;
                margin: auto;

                @include media($tablet-portrait) {
                    margin: 0;
                } // tablet-portrait
            }

            h3 {
                color: $color-mid-bright-blue;
                font-size: 24px;
                padding-bottom: 10px;
                margin: 0;
            }

            @include media($tablet-portrait) {
                @include span-columns(4 of 12);
                @include omega(3n);
                text-align: start;
            } // tablet-portrait

            @include media($phone) {
                text-align: center;
            } // phone
        } // .service
    } // .wrap
} // .our-services
