//--------------------------------------------------------------
// Featured Project Block
//--------------------------------------------------------------

.post-type-archive-portfolio article, .featured-project {
    margin: 0;

    .entry-content {
        @include outer-container();
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        background-repeat: no-repeat;
        background-position: center;
        flex-direction: column-reverse;
        padding-top: 0;
        background-size: calc(100% - 60px) auto;

        @include media($desktop) {
            flex-direction: row;
        } // desktop

        @include media($tablet-landscape) {
            flex-direction: row;
        } // tablet-landscape

        @include media($tablet-portrait) {
            background-size: 46rem;
        } // tablet-portrait
    } // .entry-content

    .site-description {
        @include span-columns(12);
        padding: 2rem;

        .entry-title {
            font-family: Aviner Next,sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 2rem;
            margin: 0 0 1rem;

            a {
                text-decoration: none;
            } // a

            @include media($tablet-portrait) {
                font-size: 3rem;
            } // tablet-portrait
        } // .entry-title

        .f-content, p {
            font-family: $font-sans;
            font-weight: 100;
            font-size: 1.2rem;
        } // .f-content + p

        .sit-name {
            margin: 0;
            color: $color-blue-grey;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-family: $font-sans;
            font-weight: 600;
        } // .sit-name

        @include media($desktop) {
            @include span-columns(6);
            padding-top: 116px;
            padding-bottom: 116px;
        } // desktop
    } // .site-description

    .even {
        .screenshot {
            margin-left: 1.25%;
            padding: 0 0 0 2rem;
        } // .screenshot
    } // .even

    .screenshot {
        @include span-columns(12);
        padding: 2rem;

        @include media($tablet-landscape) {
            padding: 0 2rem 0 0;
        } // tablet-landscape

        @include media($desktop) {
            @include span-columns(6);
        } // desktop

        .wrap {
            background: url(assets/images/svg/dotts.svg) no-repeat $color-blue-grey;
            background-position-x: 1rem;
            background-position-y: .5rem;
            border-radius: .6rem;
            padding: 2rem 1rem .6rem;

            @include media($tablet-portrait) {
                max-width: 30rem;
            } // tablet-portrait

            @include media($desktop) {
                padding: 2rem .6rem .2rem;
            } // desktop

            img {
                border-radius: .6rem;
            } // img
        } // .wrap
    } // .screenshot
} // .post-type-archive-portfolio article + .featured-project

