//--------------------------------------------------------------
// Featured Posts Block
//--------------------------------------------------------------

.featured-blog {
    padding: 2rem 2rem !important; 
    background-color: $color-light-blue-grey;

    .wrap {
        max-width: 48rem;
        padding: 0;
    } // .wrap

    h2 {
        font-family: $font-accent-2;
        text-align: center;
        color: $color-deep-blue;
        font-size: 3rem;
        margin-bottom: 0;
    } // h2

    .blog-post {
        @include span-columns(12);
        padding-top: 1rem;
        border-radius: 5px;
        background-color: $color-white;
        box-shadow: #a0a4b821 0 2px 10px;
        margin: 0 0 1rem 0;

        .entry-header {
            margin: 0 15px;
            font-family: $font-accent-2;
            font-size: 2rem;
            text-transform: capitalize;
            line-height: 3rem;
            
            a {
                color: $color-black;

                &:hover {
                    color: $color-tundora;
                }
            } // a

            .entry-title {
                line-height: 1rem;
                margin-bottom: 1rem;
                
                a {
                    text-decoration: none;
                    font-size: 1.2rem;
                    line-height: 2rem;
                    color: $color-deep-blue;
                    word-spacing: normal;

                    &:hover {
                        color: $color-dark-blue;
                    }
                } // a
            } // .entry-title

            @include media($tablet-portrait) {
                font-size: 3rem;
            } // $tablet-portrait

            @include media($tablet-landscape) {
                font-size: 1.6rem;
                line-height: 2rem;
            } // tablet-landscape
        } // .entry-header

        .entry-meta {
            text-transform: uppercase;
            color: $color-blue-grey;
            font-size: .8rem;
            font-weight: 700;
            letter-spacing: 4px;
            margin: 1rem 0 .6rem 1rem;

            @include media($tablet-portrait) {
                font-size: 1.4rem;
            } // tablet-portrait

            @include media($tablet-landscape) {
                font-size: 1rem;
            } // tablet-landscape
            
        } // .entry-meta

        .entry-content {
            margin: 0 22px;
            font-size: 1rem;
            display: flex;
            text-transform: capitalize;
            margin-bottom: 1rem;

            a {
                color: $color-black;
            }

            @include media($tablet-portrait) {
                font-size: 1.4rem;
            } // tablet-portrait

            @include media($tablet-landscape) {
                font-size: 1rem;
            } // tablet-landscape
        } // .entry-content 

        @include media($tablet-landscape) {
            @include span-columns(4);
            @include omega-reset(2n);
            @include omega(3n);
            @include shift(0);
        } // tablet-landscape

        @include media($desktop) {
            @include span-columns(4);
            @include omega-reset(2n);
            @include omega(3n);
        } // desktop
    } // .blog-post
} // .featured-blog