.get-started {
    margin: 0;
    padding: 4rem 0;
    text-align: center;

    p {
        font-size: 2rem;
        line-height: 1.1;
        font-weight: 100;
    } // p

    .special-button {
        text-decoration: none;
        display: inline-block;
    } // .getbutton
} // .quote
