//--------------------------------------------------------------
// Global Content Block Styles
//--------------------------------------------------------------
.content-block {
    margin-bottom: $gutter * 2; // Content Block titles.
    &-title {
        text-align: center;
        @include media($tablet-portrait) {
            text-align: left;
        }
    } // .content-block-title
} // .content-block
