.other-services-offered {
    background-color: $color-ice-grey;

    h3 {
        color: $color-dark-bright-blue;
        font-family: $font-accent;
        text-transform: uppercase;
        font-weight: 300;
    }

    .service-title {
        font-size: 2rem;
    }

    .service-intro {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .service-wrap {
        .left-image,
        .services-left {
            @include span-columns(12);

            @include media($tablet-portrait) {
                @include span-columns(6);

                .img-position {
                    width: 456px;
                    margin: auto;
                    margin-top: 102px;
                } // .img-position
            } // @include media($tablet-portrait)
        } // .left-image,.services-left
    } // .service-wrap
} // .other-services-offered 
