//--------------------------------------------------------------
// Intro Block
//--------------------------------------------------------------
.page-template-front-page {
    .intro {
        background-position-y: 50%;
        padding: 8rem 2rem 4rem;
        text-align: center;

        // @include media($tablet-portrait) {
        //     padding: 8rem 2rem 4rem;
        // }

        @include media($tablet-landscape) {
            padding: 10rem 0 4rem;
        }

        .wrap {
            max-width: 48rem;
            padding: 0;
        } // .wrap

        .content {
            .title {
                font-size: 2rem;
                color: $color-white;
                font-family: $font-sans;
                font-weight: 200;

                @include media($phone) {
                    font-size: 1.4rem;
                }

                @include media($tablet-portrait) {
                    font-size: 2.6rem;
                }

                @include media($tablet-landscape) {
                    font-size: 3rem;
                }

                @include media($desktop) {
                    font-size: 2.2rem;
                    color: $color-white;
                    line-height: 1.4;
                } // @include media($desktop)
            } // h1

            .tagline {
                font-size: 1.4rem;
                color: $color-white; 
                line-height: 1.4;
                font-family: $font-accent;  

                @include media($tablet-portrait) {
                    font-size: 2rem;
                }

                @include media($tablet-landscape) {
                    font-size: 2.2rem;
                }
                
                @include media($desktop) {
                    font-size: 1.6rem;
                } // @include media($desktop)
            } // p
        } // .heading

        @include media($tablet-landscape) {
            padding: 5rem 0 8rem;
        } // @include media($tablet-portrait)

        @include media($desktop) {
            padding: 12rem 0 8rem;
        } // @include media($desktop)
    } // .intro
} // .page-template-front-page