.partners {
    background: $color-mineshaft;
        
    .brands {
        margin-top: 0;
        text-align: center;
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-family: $font-accent;
        font-weight: 100;
    } // .brands

    .partners-list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        @include media($tablet-portrait) {
            flex-direction: row;

            .logo {
                margin: 0 2rem;
            }
        } // tablet-portrait 
    } // .partners-list
} // .partners