//--------------------------------------------------------------
// Services Block
//--------------------------------------------------------------

.services {
    width: 100%;
    background: $color-ice-grey;
        
    &-title {
        color: $color-deep-blue;
        letter-spacing: .2rem;
        font-size: 4rem;
        font-family: $font-accent-2;
        margin-bottom: 0;
        text-align: center;
    } // .service-title 

    &-intro {
        font-size: 1.4rem;
        font-family: $font-accent;
        text-align: center;
        padding: 0 20px;

        @include media($tablet-portrait){
            padding:0 1rem 1rem;
        } // @include media($tablet-portrait)
    } // .service-intro
    
    &-list {
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include media($tablet-portrait) {
            flex-direction: row;
        }

        .service {
            @include span-columns(12);
            text-align: center;
            padding: 20px;
            display: flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                width: 100px;
                height: auto;
                display: block;
                margin: 0 auto;
                padding-bottom: 20px;
            } // img
            
            h3 {
                color: $color-bright-blue;
                font-size: 1.2rem;
                text-transform: uppercase;
                font-weight: 100;
                font-family: $font-accent;
                padding-bottom: 10px;
                margin: 0;
            } // h3

            p {
                font-size: .8rem;
            } // p

            .button {
                justify-self: flex-end;
            } // .button

            @include media($tablet-portrait) {
                @include span-columns(4);
                min-height: 25rem;
            } // tablet-portrait

            @include media($tablet-landscape) {
                @include span-columns(3);
            } // tablet-landscape

            @include media($desktop) {
                @include span-columns(4);
            } // tablet-landscape
        } // .service

        hr {
            width: 1px;
            height: 12rem;
            display: none;
            float: left;
            padding: 0;
            background: $color-blue-grey;

            @include media($tablet-portrait) {
                display: inline-block;
            }
        } // hr

        hr:last-child {
            display: none;
        } // hr:last-child
    } // .our-services
} // .services
 