//--------------------------------------------------------------
// Single Portfolio Item Block
//--------------------------------------------------------------

.single-portfolio-content {
    padding: 4rem 0;

    .wrap {
        @include media($tablet-portrait) {
            display: flex;
            align-items: center;
        } // tablet-portrait
    } // .wrap

    h3 {
        font-size: 2rem;
        line-height: 2.8rem;
    } // h3
    
    .image,
    .contents {
        @include span-columns(12);
        
        @include media($tablet-portrait) {
            @include span-columns(6);
        } // tablet-portrait
    } // .image +.contents

    .image {
        img {
            max-width: 26rem;
            float: right;
            margin: 0 2rem 0 0;
        } // img
    } // image
} // .single-portfolio-content