//--------------------------------------------------------------
// Team Block
//--------------------------------------------------------------

.team {
    .team-header {
        margin-top: 0;
        text-align: center;
        color: #041d77;
        text-transform: uppercase;
	} // .team-header
	
    .team-members-list {
		align-items: center;
		justify-content: center;
		
        &-member {
			text-align: center;

            img {
			} // img

			h2, p {
				text-align: center;
				text-transform: uppercase;
			} // h2 + p

			h2 {
				color: $color-dark-bright-blue;
				margin-bottom: 0;
			} // h2

			p {
				color: $color-bright-blue;
			} // p
		} // .team-member
		
		@include media($tablet-portrait) {
            display: flex;
		} // tablet-portrait
    } // .members-list
} // .team
