//--------------------------------------------------------------
// Testimonials Block
//--------------------------------------------------------------

.testimonials {
    color: $color-white;
    background: $color-dark-blue;

    .opinion {
        text-align: center;
        font-weight: 100;
    } // .opinion

    .client {
        display: flex;

        .client-img {
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
            margin-right: .4rem;
            overflow: hidden;
        } // .client-img

        .details {
            .name,
            .title {
                margin: 0;
                font-size: 1rem;
                line-height: 1.5;
                text-transform: uppercase;
            } // .name + .title

            .name {
                font-weight: 700;
            } // .name
        } // .details

        @include media($tablet-portrait) {
            justify-content: center;
            align-items: center;
            align-content: center;
        } // tablet-portrait
    } // .client

    @include media($tablet-portrait) {
        .wrap {
            padding: 4rem 2rem !important;
        } // .wrap
    } // tablet-portrait
} // .testimonials
