//--------------------------------------------------------------
// Archive Portfolio View
//--------------------------------------------------------------

.post-type-archive-portfolio {
    .defualt-header {
        background-image: url('assets/images/cogwheel@2x.png') !important;

        .wrap {
            @include span-columns(12);
            margin: 0;

            h1 {
                margin: 0;
            } // h1

            @include media($desktop) {
                @include shift(2);
            } // desktop
        } // .wrap
    } // .defualt-header
} // .post-type-archive-portfolio