//--------------------------------------------------------------
// Blog View
//--------------------------------------------------------------

.category,
.blog, 
.page-template-front-page {
    .archive-name {
        .wrap {
            @include span-columns(12);
            padding: 0;

            @include media($tablet-portrait) {
                @include span-columns(8);
                @include shift(2);
            } // tablet-portrait
        } // .wrap

        h2 {
            font-family: $font-accent-2;
            text-align: center;
            color: $color-deep-blue;
            font-size: 3rem;
            margin-bottom: 0;
        } // h2
    } // .archive-name

    .content-area {
        background-color: $color-light-blue-grey;
    } // .content-area

    .site-main {
        padding: 2rem 1rem;
        overflow: auto;

        .wrap {
            @include span-columns(12);
            padding: 0;

            @include media($tablet-portrait) {
                @include span-columns(8);
                @include shift(2);
            } // tablet-portrait
        } // .wrap

        .blog-post {
            @include span-columns(12);
            border-radius: 5px;
            background-color: $color-white;
            box-shadow: #a0a4b821 0 2px 10px;
            margin: 0 0 1rem 0;

            .featured-image { 
                margin: 0;

                img, a img {
                    width: 100%;
                    border-radius: 5px 5px 0 0;
				} // img
            } // .featured-image

            .entry-meta {
                text-transform: uppercase;
                color: $color-blue-grey;
                font-size: .8rem;
                font-weight: 700;
                letter-spacing: 4px;
                margin: 1rem 0 .6rem 1rem;
            } // .entry-meta

            .author {
                p {
                    margin: auto;
                    color: $color-gray-alt;
                    text-transform: capitalize;
                } // p
        
                strong {
                    font-weight: 600;
                } // strong
            } // .author

            .entry-header {
                margin: 0 15px;

                .entry-title {
                    line-height: 1rem;
                    margin-bottom: 1rem;
                    
                    a {
                        text-decoration: none;
                        font-size: 1.2rem;
                        line-height: 2rem;
                        color: $color-deep-blue;
                        word-spacing: normal;

                        &:hover { color: $color-dark-blue; }
                    } // a
                } // .entry-title
            } // .entry-header

            .entry-content {
                margin: 0 22px;
                //font-size: 1rem;
                display: flex;
                text-transform: capitalize;
                margin-bottom: 1rem;
            } // .entry-content 

            @include media($tablet-portrait) {
                @include span-columns(6);
                @include omega-reset(2n);
                @include omega(2n);
                @include shift(0);
            } // tablet-portrait

            @include media($tablet-landscape) {
                @include span-columns(4);
                @include omega-reset(2n);
                @include omega(3n);
                @include shift(0);
            } // tablet-landscape

            @include media($desktop) {
                @include span-columns(4);
                @include omega-reset(2n);
                @include omega(3n);
            } // desktop
        } // .blog-post

        @include media($tablet-landscape) {
            padding: 4rem 0;
        } // tablet-portrait
    } // .site-main
} // .category + .blog + .page-template-front-page 

.single, 
.blog, 
.category, 
.page {
    .author {
        display: flex;
        justify-items: center;
        align-items: center;
        
        .avatar {
            margin-right: 10px;
            border-radius: 100px !important;
            box-shadow: 0px 2px 7px $color-blue-grey !important;
        } // img
    } // .author
} // .single + .blog + .category + .page

.category .wrap {
    h1 {

        @include media($tablet-portrait) {
            font-size: 64px;
        } // tablet-portrait
    } // h1
} // .category + .wrap 
