//--------------------------------------------------------------
// Front Page View
//--------------------------------------------------------------

.hero-content {
    h1 {
        color: $color-white;
        font-size: 3rem;
    } // h2

    p {
        font-size: 2rem;
        color: $color-ice-grey;
    } // p

    @include media($tablet-portrait) {
        width: 694px;
    } // @include media($tablet-portrait)
} // .hero-content 