//--------------------------------------------------------------
// Page View
//--------------------------------------------------------------

.page {
    .entry-content, .archive-name {
        .wrap {
            max-width: 48rem;
        } // .wrap 
    } // .entry-content + .archive-name
} // .page