//--------------------------------------------------------------
// Single Post View
//--------------------------------------------------------------

.single {
	.wrap{
        padding: 4rem 0;
        max-width: 48rem;

        @include media($tablet-portrait) {
            padding: 0;
        } // tablet-portrait
    } // .wrap
    
    .entry-header {
        color: $color-white;
        text-align: center;

        .entry-meta {
            font-size: 1rem;
            font-weight: 200;
            font-family: $font-sans;
            margin-bottom: 1rem;
            text-align: center;
            display: block;

            .author {
                display: flex;
                flex-direction: row;
                justify-content: center;
            } // .author

            p { margin-bottom: 0; } // p
        } // .entry-meta

        .entry-meta:first-child {
            color: $color-blue-grey;
            font-size: 1.2rem;
            font-weight: 500;
            letter-spacing: .3rem;
            text-transform: uppercase;
        } // .entry-meta:first-child

        .single-title {
            margin-bottom: 0;
			font-size: 2rem;
            line-height: 1.2;
            font-family: $font-accent;
            font-weight: 100;
            
            @include media($tablet-portrait) {
                font-size: 3rem;
            } //  desktop
        } // .single-title

        @include media ($desktop) {
            padding-bottom: 74px;
            padding-top: 64px;
        } // desktop
    } // .entry-header

    .entry-content {
        padding: 2rem; 

        h2 {
            font-size: 33px;
            margin-bottom: 24px;
        } // h3

        p { font-size: 20px; } // p

        a, a:link { box-shadow: 0px 2px 0px; } //  a + a:link

        @include media($tablet-landscape) {
            padding: 0;

            img {
                max-width: 120%;
                margin: 0rem -10% 0rem -10%;   
            } // img
        } // tablet-landscape
    } // .entry-content
} // .single
