// --------------------------------------------------------------
// Grid Settings - overrides default Bourbon Neat
// http://neat.bourbon.io/examples/
// --------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

$column: rem(69); // default width of your columns
$gutter: rem(12); // default width of the gutters
$max-width: rem(1100); // max-width of the grid/theme in pixels
$total-columns: 12; // number of columns

// To calculate grids see:
// http://gridcalculator.dk/#/960/12/12/0

// Set Bourbon's flex-grid variables to match what Neat is doing
// http://bourbon.io/docs/#flex-grid
$fg-column: $column;
$fg-gutter: $gutter;

// Optional - A handy visual grid overlay
$visual-grid: false; // true/false
$visual-grid-color: #ffc0cb; // color of visual grid
$visual-grid-index: front; // front/back
$visual-grid-opacity: 0.2; // opacity of visual grid

// Numeric values for padding/margin helper classes.
$spacing-options: 15, 20, 30, 35, 40, 50, 100;

// Row widths.
$row-widths: 1240, 1040, 640;

// ------------------------------------------------------------
// Override Neat's grid settings
// ------------------------------------------------------------

$column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(1em, 3) !default; // Gutter between each two columns

// ------------------------------------------------------------
// Set Bourbon's flex-grid variables to match what Neat is doing
// http://bourbon.io/docs/#flex-grid
// ------------------------------------------------------------

$fg-column: $column;
$fg-gutter: $gutter;

// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------

@mixin omega-reset($nth) {
	&:nth-child(#{$nth}) { margin-right: flex-gutter(); }
	&:nth-child(#{$nth}+1) { clear: none }
  }
