//--------------------------------------------------------------
// Default Header
//--------------------------------------------------------------

.defualt-header {
	@include span-columns(12);
	background-position: center;
	background-repeat: no-repeat;
	padding: 5rem 1rem 0;
	background: no-repeat;
	background-size: 13rem;
	background-position-x: -5rem;
	background-position-y: 3rem;
	width: 100%;
	margin: 0;

	h1 {
		font-family: $font-accent;
		color: $color-dark-blue;
		font-size: 3rem;

		&::after {
			content: '';
			height: .34rem;
			width: 3rem;
			background-color: $color-dark-blue-grey;
			margin: 0;
		} // &::after
	} // h1

	@include media($tablet-portrait) {
		background-position-x: -2rem !important;
		background-position-y: 0rem !important;
		padding: 4rem 0 2rem;

		.wrap { padding: 0 2rem; }
	} // tablet-portrait

	@include media($tablet-landscape) {
		background-position-x: -3rem !important;
		background-position-y: 2rem !important;
	} // tablet-landscape

	@include media($desktop) {
		background-size: 28rem !important;
		background-position-x: 5rem !important;
		background-position-y: -2rem !important;
		padding: 8rem 0 4rem;

		h1 { font-size: 4rem; }
	} // desktop
} // .defualt-header
