//--------------------------------------------------------------
// Widgets
//--------------------------------------------------------------

.widget {
	margin: 0 0 rem(24);

	// Make sure select elements fit in widgets.
	select { max-width: 100%; } // select

	// Extend the h3 style for the widget titles.
	.widget-title { @extend .h3 !optional; } // .widget-title
} // .widget

// Search widget.
.widget_search .search-submit { display: none; } // .widget_search .search-submit
